<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
            	<!-- Data Source will be mentioned in listing xml -->
                <item name="tigrencustomergroupcatalog_listing_data_source" xsi:type="string">Tigren\CustomerGroupCatalog\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Tigren\CustomerGroupCatalog\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
        	<!-- Table name to insert data and listing data -->
            <argument name="mainTable" xsi:type="string">tigren_rule</argument>
            <!-- Resource model name -->
            <argument name="resourceModel" xsi:type="string">Tigren\CustomerGroupCatalog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <virtualType name="Tigren\CustomerGroupCatalog\Model\ResourceModel\Rule\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <!-- Table name to insert data and listing data -->
            <argument name="mainTable" xsi:type="string">tigren_product_rule</argument>
            <!-- Resource model name -->
            <argument name="resourceModel" xsi:type="string">Tigren\CustomerGroupCatalog\Model\ResourceModel\Rule</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="customer_group_catalog_product_price" type="Tigren\CustomerGroupCatalog\Plugin\ProductPricePlugin" />
    </type>
</config>
